@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #ebe9e9;
}

/* ----------------------Content section----------------------- */

.main-content {
    background-color: #f8f8f8;
    max-width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    height: auto;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);



}

.blog-header h2 {
    padding: 20px;
    padding-top: 30px;
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.blog-content {
    margin-left: 80px;
    margin-right: 80px;
}

.post-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.post-content p {
    text-align: justify;
}

.post-content img {
    width: 100%;
    height: auto;
}

.content-header {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.content-header img {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items:flex-start;
    justify-content: center;
    /* padding-top: 6px; */
}

.user-details li {
    list-style: none;
}



/*--------------------Footer section-----------------------------*/

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #f8f8f8;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  footer .container .sec h2 {
    position: relative;
    color: #333;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  footer .container .about h2 {
    letter-spacing: 2px;
  }
  
  footer .container .sec p {
    color: #555;
  }
  
  footer .container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
  }
  
  footer .container .sci li {
    list-style: none;
  }
  
  footer .container .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
  }
  
  footer .container .sci li a i {
    color: #fff;
    font-size: 20px;
  }
  
  footer .container .quicklinks {
    position: relative;
  }
  
  footer .container .quicklinks ul li {
    list-style: none;
  }
  
  footer .container .quicklinks ul li a {
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  footer .container .contact .info {
    position: relative;
  }
  
  footer .container .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
  }
  
  footer .container .contact .info li span {
    color: #555;
    font-size: 20px;
  }
  
  footer .container .contact .info li a {
    color: #555;
    text-decoration: none;
  }

.copyrightText {
    width: 100%;
    background: #f8f8f8;
    padding: 20px 100px 20px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  /*responsiveness*/

@media (max-width: 991px) {
    footer {
        padding: 40px;
      }
    
      footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
    
      .copyrightText {
        padding: 20px 40px 30px;
      }
    }

    
    @media (max-width: 768px) {
        footer .container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 20px;
        }
      }