@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #ebe9e9;
}

/* ----------------------Content section----------------------- */

.main-content {
    background-color: #f8f8f8;
    max-width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 6%;
    height: auto;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.blog-header h1 {
    padding: 20px;
    padding-top: 30px;
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.blog-content {
    margin-left: 80px;
    margin-right: 80px;
}

.post-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.post-content p {
    text-align: justify;
}

.post-content img {
    width: 100%;
    height: auto;
}

.content-header {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.content-header img {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items:flex-start;
    justify-content: center;
    /* padding-top: 6px; */
}

.user-details .user-name {
  font-weight: 900;
}

.user-details li {
    list-style: none;
}



/*--------------------Footer section-----------------------------*/

footer {
  background-color: #5f5f5f;  
  position: relative;
    width: 100%;
    height: auto;
    padding: 20px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  footer .container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  footer .container  h2 {
    position: relative;
    color: #f8f8f8;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.7rem;
    margin-bottom: 0px;
  }

  footer .container a {
    text-decoration: none;
  }

  .container .sci {
    display: flex;
    list-style: none;
    gap: 30px;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
  }

  .container .sci i {
    color: #f8f8f8;
  }

.copyrightText {
    width: 100%;
    background: #5f5f5f;
    padding: 10px 80px 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  .copyrightText p {
    color: #f8f8f8;
  }

  /*responsiveness*/

@media (max-width: 991px) {
    footer {
        padding: 40px;
      }
    
      footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
    
      .copyrightText {
        padding: 20px 40px 30px;
      }
    }

    
    @media (max-width: 768px) {
        footer .container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 20px;
        }
      }